body {
font-family: Arial, Helvetica, sans-serif;
* {box-sizing: border-box;}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}


font: 400 15px/1.8 Lato, sans-serif;
color: #777;
}
h2{
  margin: 10px 0 30px 0;
  letter-spacing: 10px; 
  font-size: 30px;
  color: #111;
}
h3, h4 {
  margin: 10px 0 30px 0;
  letter-spacing: 10px;      
  font-size: 20px;
  color: #111;
}
.container {
  padding: 80px 120px;
}
.text-center hr{
  border: 3px dashed #333333;
  margin-bottom: 25px;
}
.text-center .solid{
  border: 3px solid #333333;
  margin-bottom: 25px;
}
.text-center .alert-danger{
  text-align: left;
  padding-left: 35%;
}
.text-center .bigger{
  font-size: 25px;
}
.container2 {
  padding: 80px 0px;
}
.person {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;
  opacity: 0.7;
}
.person:hover {
  border-color: #f1f1f1;
}
.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%); /* make all photos black and white */ 
  width: 100%; /* Set width to 100% */
  max-height: 950px;
  margin: auto;
}
.carousel-caption h3 {
  color: #fff !important;
}
@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}
.bg-1 {
  background: #2d2d30;
  color: #bdbdbd;
}
.bg-1 h2 {color: #fff;}
.bg-1 p {font-style: italic;}
.list-group-item:first-child {
  border-top-right-radius: 20;
  border-top-left-radius: 20;
}
.list-group-item:last-child {
  border-bottom-right-radius: 20;
  border-bottom-left-radius: 20;
}
.list-group-item {
  border: 2px solid #333;
  width: 60%;
  left: 20%;
  right: 20%;
  color: #777777;
  font-size: 20px;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail p {
  margin-top: 15px;
  color: #555;
}
.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #f1f1f1;
  border-radius: 0;
  transition: .2s;
}
.btn:hover, .btn:focus {
  border: 1px solid #333;
  background-color: #fff;
  color: #000;
}
.modal-header, h4, .close {
  background-color: #333;
  color: #fff !important;
  text-align: center;
  font-size: 30px;
}
.modal-header, .modal-body {
  padding: 40px 50px;
}
.modal-body select {
  float: right;
}
.modal-body select, label {
  color: #111;
}
.modal-body h3 {
  text-align: center;
}
.nav-tabs li a {
  color: #777;
}
.googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}  
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #2d2d30;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 0.9;
}
.navbar li a, .navbar .navbar-brand { 
  color: #d5d5d5 !important;
}
.navbar-nav li a:hover {
  color: #fff !important;
}
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.open .dropdown-toggle {
  color: #fff;
  background-color: #555 !important;
}
.dropdown-menu li a {
  color: #000 !important;
}
.dropdown-menu li a:hover {
  background-color: red !important;
}
footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
}
footer a {
  color: #f5f5f5;
}
footer a:hover {
  color: #777;
  text-decoration: none;
}  
.form-control {
  border-radius: 0;
}
.form-group2{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.form-group2 input {
  color: #111;
  padding: 10px 10px;
  width: 50%;
}
.form-group2 label {
  width: 15%;
  vertical-align: middle;
  flex-direction: column;
  margin: auto 20px;
  text-align: right;
}
textarea {
  resize: none;
}

/* SCHEDULE TABS */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.tab button {
  background-color: inherit;
  border: none;
  width: 33%;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  background-color: #ffffff;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom: none;
}


.tabcontent p, h3, button{
  color: #111;
  letter-spacing: 0px;
  font-style: normal;
}

.tabcontent hr{
  border: 1px solid #111;
}


.tabcontent h5{
  color: #111;
  font-size: 17px;
  font-style: italic;
  font-weight: bold;
}

div.ticketsbutton {
  background-color: #ffffff;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.ticketsbutton button{
  margin-left: 45%;
}

.ticketsbutton a{
  margin-left: 43%;
}

/* MAP */
iframe {
  width: 100%;
  border: 0px;
}

/* OTHER STUFF */
.alert-danger{
  padding-left: 50px;
}

.btn-block2 {
  width: 60%;
  font-size: 25px;
}

.btn-block3 {
  width: 45%;
  font-size: 25px;
}
.btn-ct{
  position: absolute;
  right: 10px;
  bottom: 3px;
}
.table.table-striped{
  max-width: 70%;
  margin-left: 15%;
}

.table.table-striped th{
  text-align: center;
  font-size: 20px;
}

.rounded.float-left {
  position: absolute;
  left: 10px;
}